body {
  font-family: 'Amatic SC', serif;
  color: white;
  background: url(../img/fantasy_space-wide.jpg) no-repeat center center fixed;
  background-size: cover;
}
body a,
body:hover,
body a:focus {
  color: white;
  outline: none;
}
body p {
  font-size: 18px;
}
h1 {
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  font-size: 120px;
}
#title {
  font-weight: normal;
  font-size: 40px;
  text-decoration: none;
  border-bottom: 3px solid;
  line-height: 1.3;
}
#user {
  display: none;
}
#user:before {
  content: "by ";
}
#buzzer {
  display: block;
  width: 500px;
  height: 450px;
  position: absolute;
  bottom: 5px;
  background: url(../img/buzzer.png) no-repeat;
  cursor: pointer;
}
#buzzer:active {
  bottom: 0;
}
#soundcloud {
  margin-top: 100px;
  margin-left: 550px;
}
#soundcloud .cover {
  position: relative;
  background-color: #000;
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 30px;
  display: none;
}
#soundcloud .cover a {
  cursor: pointer;
}
#soundcloud .cover .icon {
  position: absolute;
  font-size: 50px;
  margin: auto;
  text-align: center;
  top: 25px;
  left: 30px;
}
#social-sharing {
  position: fixed;
  top: 10px;
  left: 10px;
}
#credits {
  position: fixed;
  right: 15px;
  bottom: 0px;
}
